<div class="form-part list">
    <div class="list-container">
        {{> contactsBtn}}
    </div>
    <form id="form-add">
        <div class="form-part data">
            <input type="text" name="fullName" placeholder="ФИО" required>
            <input type="tel" name="phoneNumber" placeholder="3753753" pattern="[0-9]{7}" title="7numbers" required autocomplete="off">
        </div>
        <div class="form-part control" style="margin-top: 5px;">
            <button id="add" type="submit">Добавить</button>
            <button type="button" onclick="{{refuse}}">Отказаться</button>
        </div>
    </form>
</div>